################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs
/backend/Application/bin/Debug/net9.0
/backend/Application/obj
/backend/Domain/obj
/backend/Infraestructure/bin/Debug/net9.0
/backend/Infraestructure/obj
/backend/Domain/bin/Debug/net9.0
/backend/Presentation/bin/Debug/net9.0
/backend/Presentation/obj
