**/bin/
**/obj/
**/out/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.Development.json
appsettings.Local.json

logs/
*.log

*.nupkg
*.snupkg
.nuget/

**/tmp/
**/temp/

.git/
.gitignore
README.md

Dockerfile*
docker-compose*
.dockerignore

.env
.env.local
